<h2> Olá {{ name }}, </h2>
<p>
  Parace que você solicitou uma recuperação de sua senha, caso queira proseguir clique no link abaixo:
</p>
<p>
<a href="{{ resetPasswordUrl }}" target="_blank">Recuperar Senha</a>
</p>
<p>
  Caso não tenha sido você quem fem esta solicitação, por favor descartar o e-mail.
</p>
<p>
  <strong> Equipe Inmob </strong>
</p>
